<!DOCTYPE html>
<html lang="pt-br">
<style>
   
    .fotterdeg{
        background-color: 
            #000000;
    }

    .a{
        color: #ffffff;
    }
</style>
<head>
    <meta charset="utf-8" />
    <meta class = "fotterdeg" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - COVID19</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light fotterdeg box-shadow mb-3">
            <div class="container ">
                <img src="https://image.flaticon.com/icons/png/512/609/609803.png" width="30" height="30" class="d-inline-block align-top" alt="">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index"><b>#FiqueEmCasa</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Dicas" asp-action="index">Dicas</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Tips" asp-action="Create">Criar dicas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" fotterdeg footer text-muted">
        <div class="container">
            &copy; 2020 - Covid19 - <a href="https://salvador.fgn.edu.br/" target="_blank">FGN - Analise e Desenvolvimento de Sistemas</a>
            | Desenvolvido por: <a href="https://www.linkedin.com/in/marcos-magno-27075b165/" target="_blank">Marcos Magno</a> | Hugo Caetano | Luis Claudio
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
